{% extends 'base.html' %}

{% block title %}about{% endblock %}

{% block content %}
<h1>About</h1>

<p>This is To-Do application built Using Flask framework</p>

<h1>Contact</h1>

<p>Email: <a href="mailto:divyarasu007@gmail.com">divyarasu007@gmail.com</a></p>
<P>Phone: <a href="tel:7092565079">7092565079</a></P>
<p>GitHub: <a href="https://github.com/divy-arasu">https://github.com/divy-arasu</a></p>
<p>LinkedIn: <a href="https://www.linkedin.com/in/divyarasu-p/">https://www.linkedin.com/in/divyarasu-p/</a></p>

{% endblock%}