<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static',filename = 'css/style.css') }}">
    </head>
    <body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('tasks') }}">Tasks</a></li>
            <li><a href="{{ url_for('create_task') }}">Create Task</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class = "flash-message">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
        <script src="{{url_for('static',filename='js/test.js')}}"></script>
    </body>
</html>